<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>blog page</title>
</head>
<body>
    <div id="post">
        <h3>This is my first post</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero dolorum cumque nemo a dolores ipsam deleniti et tempora obcaecati, fugit amet quidem iure ea sequi quisquam. Soluta libero aspernatur earum!</p>
        
        <button class="btns" id="like">like</button>
        <button class="btns" id="edit">edit</button>
        <button class="btns" id="del">del</button>
    </div>
    <button id="new_post">Add new post </button>
    <script src="static/script.js"></script>
</body>
</html>